---
import type { CollectionEntry } from 'astro:content';
interface Props {
  review: CollectionEntry<'review'>;
}
const { review } = Astro.props;
---

<a
  class="p-0 lg:p-5 font-franklin border-t border-t-black"
  href={`/rt/review/${review.data.fileName}`}
>
  <img
    class="w-full h-[350px] object-cover"
    src={`${import.meta.env.CLOUDFRONT_URL}/${review.data.fileName}-0.webp`}
  />
  <div class="flex flex-col gap-2 p-4 lg:p-0">
    <p>
      <b class="text-link-blue-rt text-[15px] font-normal mr-1">
        {review.data.title.toUpperCase()}
      </b>
      <span class="text-black">({review.data.releaseYear})</span>
    </p>
    <p class="text-[16px]">
      <b>Genres:</b>
      {review.data.genres.join(', ')}
    </p>
    <p class="text-[16px]">
      <b>Synopsis:</b>
      {review.data.plot}
    </p>
    <p class="text-[16px]">
      <b>Directed By:</b>
      <span>{review.data.director}</span>
    </p>
    <p class="text-[16px]">
      <>
        <b>Starring:</b>
        <span>{review.data.actor.join(', ')}</span>
      </>
    </p>
  </div>
</a>
